<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src='js/bus_stop.js'></script>
    <title><%= rnum%></title>
</head>
<body>
    <h1>KMB</h1>
    <p><a href="/">Home</a></p>
    <div id="bus-stop">
        <p>Route <%= rnum%></p><br>
        <p>Normal Routeing:</p><br>

    </div>

</body>
</html>